.arrivals {
  padding-top: 20px;
  padding-bottom: 143px;
}

.arrivals__header {
  margin-bottom: 100px;
}

.arrivals__cards {
  display: flex;
  justify-content: space-between;
  column-gap: 131px;
}