.favouriteCard {
  position: relative;
}

.favouriteCard__img {
  border-radius: 20px;
  margin-bottom: 28px;
}

.favouriteCard__body {
  display: flex;
  justify-content: space-between;
  column-gap: 7px;
  align-items: center;
}

.favouriteCard__title {
  font-weight: 500;
  font-size: 32px;
  line-height: calc(50 / 32);
  letter-spacing: -0.04em;
}

.favouriteCard__mited {
  font-weight: 500;
  font-size: 24px;
  line-height: 2;
  letter-spacing: -0.04em;
  color: #7F7F7F;
}