.download {
  margin-bottom: 100px;
}

.download__content {
  display: flex;
  justify-content: center;
  column-gap: 150px;
  align-items: center;
}

.download__text {
  width: 500px;
}

.download__title {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.5;
  letter-spacing: 0.06em;
}

.download__desc {
  margin-bottom: 65px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.04em;
}

.download__btn-wrapper {
  display: flex;
  justify-content: space-between;
}